<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Document</title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>Pokemon Players</h1>
        
        <nav>
            <a href="/players/signUp">Sign Up</a>
            <a href="/players/logIn">Log In</a> <br> <br>
            <a href="/pokemon">Pokemon Arena</a>
        </nav>
    </body>
</html>