body {
    display: flex;
    color: red;
    text-align: center;
    text-decoration: none;
    flex-direction: column;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/d07eaebd-9ec8-4032-8a02-7f85abb4ac44/d8oalkw-cbd821cd-6461-4f53-9eb6-9b3e296f0ba2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.pokemon {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    flex-wrap: wrap;

    text-decoration: none;
    margin: 40px;

    list-style-type: none;    
    padding-inline-start: 0px;
    
}
a {
    text-decoration: none;
}

li {
    margin: 20px;
}


.thumbnail {
    height: 12vh;
    width: auto;
    text-align: center;
}